.search-bar {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    border: 1px solid #fff8f8;
    width: 90%;
  }
  
  .search-bar input {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff8f8;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    box-sizing: border-box;
  }