.bg
{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: -2;
    margin-top: 0px;
}
 .sform
{
    display: flex;
    flex-direction: row;
    border: 1px solid #ECEAE2;
    height: 515px;
    width: 800px;
    margin-top: 180px;
    margin-left: 700px;
    box-shadow: 2px 2px 1px #ECEAE2;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background: transparent;
    backdrop-filter: blur(5px);

}
.form2
{
    text-align: center;
    margin-top: 0px;
    margin-left: 150px;
    height: 515px;
    width: 380px; 
    background-color: #ECEAE2;
    
}

.SUP
{
  color:rgb(48, 109, 162);
  text-shadow: 1px 1px 2px;
  font-size: large;
  font-weight: 600;
}

#Uname
{
    border:2px solid #ECEAE2;
    border-radius: 3px;
    height: 10px;
    width: 185px;
    box-shadow: 2px 2px 1px gray;
}
#Pass
{
    border:2px solid #ECEAE2;
    border-radius: 3px;
    height: 10px;
    width: 185px;
    box-shadow: 2px 2px 1px gray;
}
#email
{
    border:2px solid #ECEAE2;
    border-radius: 3px;
    height: 10px;
    width: 185px;
    box-shadow: 2px 2px 1px gray;
}
#number
{
    border:2px solid #ECEAE2;
    border-radius: 3px;
    height: 10px;
    width: 185px;
    box-shadow: 2px 2px 1px gray;
}

.logo{
align-items: center;
display: flex;
flex-direction: row;
margin-top: 110px;
margin-left: 600px;
}

/* .head
{
  color: rgb(48, 109, 162);
  font-weight: 700;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 1px 3px;
} */

.img2
{
  height: 80px;
  width: 110px;
}

.img1
{
  height:200px;
  transform: scale(200%);
  width: 200px;
  margin-top: 125px;
 margin-left:80px;
}

.submit{
    outline: none;
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 210px;
    box-shadow: 2px 2px 1px gray;
    border: 2px solid rgb(48, 109, 162);
    background-color:rgb(114, 216, 229);
 
}
.submit:hover
{
  background-color: rgb(228, 238, 247);
}
