.bg1
{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: -2;
    margin-top: 0px;
}
.main
{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  border: 1px solid #ECEAE2;
  height: 400px;
  width: 620px;
  margin-top: 250px;
  margin-left: 680px;
  box-shadow: 3px 3px 1px #ECEAE2;
}
.Lname
{
  text-align: center;
  color:rgb(24, 81, 130);
  text-shadow: 1px 1px 2px;
  font-size: large;
  font-weight: 600;
}
.Login
{
 margin-top: 0px;
 margin-left: 70px;
 height: 398px;
 align-items: center;
 width: 280px; 
 background-color: #ECEAE2;
}
 .loginimg1
{
  height:270px;
  width: 320px;
  margin-top: 25px;
}
#username
{
  border:2px solid #ECEAE2;
  border-radius: 3px;
  height: 10px;
  width: 185px;
  box-shadow: 2px 2px 1px gray;
}
#password
{
  border:2px solid #ECEAE2;
  border-radius: 3px;
  height: 10px;
  width: 185px;
  box-shadow: 2px 2px 1px gray;
}
.sigin
{
  text-decoration: none;
  color: black;
}

.submit1{
  border-radius: 3px;
  height: 40px;
  width: 210px;
  box-shadow: 2px 2px 1px gray;
  border: 2px solid rgb(48, 109, 162);
  background-color:rgb(114, 216, 229);
  outline: none;
    border: none;
 
}
.submit1:hover
{
  background-color: rgb(228, 238, 247);
}

.head
{
  color: rgb(24, 81, 130);
  font-weight: 900;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 1px 3px;
}

.logo
{
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 110px;
  margin-left: 900px;
}
